nav .container-fluid .navbar-header .navbar-brand .triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #F34A53;
  margin: 40px auto 0;
  text-shadow: 1px 1px 1px black; }

nav .container-fluid .navbar-header .navbar-brand .triangle:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00; }
